/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para o cabeçalho */
  
  header {
    background-color: #212121;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Estilos para o menu de navegação */
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  nav ul li a:hover {
    background-color: #fff;
    color: #333;
  }
  
  /* Estilos para a seção principal */
  
  main {
    padding: 20px;
  }
  
  /* Estilos para o rodapé */
  
  footer {
    background-color: #212121;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Estilos para outras seções do site */
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .section-description {
    font-size: 16px;
    margin-bottom: 20px;
  }